body {
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', monospace;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

h1 {
    margin-top: 20px;
}

#walletAnalyzer {
    margin-top: 50px;
}

#walletAddress {
    font-size: 16px;
    padding: 8px;
    width: 250px;
    margin-right: 10px;
}

#analyzeButton {
    font-size: 16px;
    padding: 8px 16px;
    background-color: #00FF00;
    border: none;
    color: black;
    cursor: pointer;
}

#transactionInfo {
    margin-top: 20px;
    color: #00FF00;
}

/* Matrix Canvas */
#matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Behind other content */
    background: black;
}
